.logo {
 margin-right: 15px;
 height: 40px;
 display: inline;
}

li {
 filter: grayscale(150%);
 cursor: pointer;
}

li:hover {
 filter: none;
}

.elifImage {
  width: auto;
  height: auto;
  object-fit: fill;
}